# environment
*.venv/
*.env

# jupyter/py
.ipynb_checkpoints
**/__pycache__/

# data 
# data/
*.csv
# *.json
*.txt

# probably want to avoid committing for now 
character-science/data/*.jsonl 

# model checkpts 
checkpoints/
*.pt
*.pth
*.ckpt 